/* variables */

:root {
    --padding: 10px;
    --footer-height: 80px;
}

/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

.rw-5 {
    row-gap: 5px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-bet {
    justify-content: space-between;
}


/* utilities */

.xs-hidden {
    display: none;
}

/* content */




.web-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-container {
    flex-grow: 1;
    display: flex;
}

aside {
    background-color: black;
    padding: var(--padding);
}

.firstaside {
    row-gap: 10px;
}

aside i {
    color: white;
    opacity: 80%;
    width: 40%;
    font-size: 30px;
}

aside img {
    width: 34px;
}

main {
    flex-grow: 1;
    position: relative;
    background-color: hsl(219deg 26% 11%)
}

header {
    opacity: 80%;
    background-color: #333;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: var(--padding);
    text-align: right;
}

header a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
}

#album-container {
    overflow-y: auto;
    height: calc(100vh - var(--footer-height));
    padding-top: 60px;
}

#album-container a {
    text-decoration: none;
    color: white;
    opacity: 80%;
}

.link-main {
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    margin: 5px 5px;
}

footer {
    background-color: #333;
    height: var(--footer-height);
}

/* S screen */
@media screen and (min-width: 480px) {


    /* utilities */
    .xs-show {
        display: none;
    }

    .xs-hidden {
        display: initial;
    }

    /* /utilities */

    aside img {
        width: 150px;
    }

    .card-container {
        width: calc(100% / 4 -20px);
    }

}

/* debug */
.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.colon {
    width: calc(100% / 2);
}

.card {
    text-align: center;
}

/* /debug */