* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
hr {
    width: 90%;
}

.space-bet {
    justify-content: space-between;
}

.user {
    margin-top: 140px;
    row-gap: 10px;
}

.icon-spoty {
    row-gap: 5px;
    margin-top: 10px;
    padding: 5px;
}

.playlist {
    margin-top: 5px;
    row-gap: 10px;
}

.playlist i {
    background-color: gray;
    font-size: 20px;
    padding: 10px;
    color: black;
    margin-top: 5px;
    margin-right: 2px;
    margin-bottom: 5px;
}

/* / utility */

/* flex */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* / flex */

/* content*/
.container {
    height: 100vh;
}

.header-main {
    width: 100%;
}

aside {
    height: 100vh;
    background-color: hwb(0deg 0% 100%);
    width: 30vh;
}

aside img {
    width: 70%;
    margin-top: 10px;
}

aside i,
span,
h4 {
    color: white;
    opacity: 80%;
}


header {
    background-color: hsl(222deg 38% 5%);
    width: 100%;
    position: fixed;
    height: 10vh;
    opacity: 80%;
}

header button {
    margin-top: 10px;
    margin-right: 5px;
    color: white;
    background-color: hwb(219deg 8% 87%);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    margin-left: 1025px;


}

main {
    background-color: hsl(219deg 26% 11%);
    flex-grow: 1;
    padding-top: 80px;
}

main a {
    text-decoration: none;
    color: white;
    opacity: 80%;
}

.link-main {
    justify-content: center;
    column-gap: 15px;
}

.recent {
    color: white;
    margin-left: 10px;
}

.card-container {
    margin-top: 10px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    column-gap: 10px;
}

.card {
    width: calc(100% / 6 - 20px);
}

.card img {
    width: 100%;
}

footer {
    background-color: hsl(0deg 0% 16%);
    width: 100%;
    height: 10vh;
}